#App{
  display: flex;
  flex-direction: row;
}


.left {
  width: 35%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.right {
  width: 65%; 
  margin: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}