
#SongResults div.List{
    display: flex; 
    flex-direction: column; 
    border: 2px solid black; 
    margin: 1rem; 
    padding: 1rem; 
    height: min-content; 
    width: 80%; 
}

#SongResults div.List div {
    border: 2px solid green; 
}

#SongResults div.List div {
    border: 2px solid pink; 
    height: 100px; 
    display: flex;
    margin: 1rem;
}

#SongResults div.List a{
    border: 2px solid red; 
    margin:1rem;
    padding: 1rem;
    width: 100%; 
    
}

#SongResults div.List a span{
    border: 2px solid blue;   
    margin: 1rem;
}


#AlbumResults div.List{
    display: flex; 
    flex-direction: column; 
    border: 2px solid black; 
    margin: 1rem; 
    padding: 1rem; 
    height: min-content; 
    width: 80%; 
}

#AlbumResults div.List div {
    border: 2px solid green; 
}

#AlbumResults div.List div {
    border: 2px solid pink; 
    height: 100px; 
    display: flex;
    margin: 1rem;
}

#AlbumResults div.List a{
    border: 2px solid red; 
    margin:1rem;
    padding: 1rem;
    width: 100%; 
    
}

#AlbumResults div.List a span{
    border: 2px solid blue;   
    margin: 1rem;
}