#SearchedResults{
    padding: 1rem; 
    display: flex;
    flex-direction: column;
    margin: 1rem; 
    background-color: aliceblue;
}

#SearchedResults div.albums {
    overflow: scroll; 
    height: 20rem; 
}

    #SearchedResults div.albums div.options{
    }


        #SearchedResults div.albums div.options div{
            width: 200px; 
            display: inline-block; 
        }
            #SearchedResults div.albums div.options div a{
            }

#SearchedResults div.tracks {
    border: 2px solid green; 
    overflow: scroll; 
    height: 20rem; 
}

#SearchedResults div.track-options {
    border: 2px solid blue; 
    width: 10rem;
    height: 7rem;
    overflow: scroll; 

    display: inline-block;
}

#SearchedResults div.track-options p {
    border: 2px solid pink;
}