.Tracklist{
    width: auto; 
    height: 400px; 
    padding: 1rem;
    padding-bottom: 1rem;
    margin: 1rem;

    
}

.Tracklist h1{
    font-size: 2rem;
    border-left: 2px solid black;
    padding: 1rem;
    
}

.Tracklist p{
    margin-top: 2rem;
    margin-bottom: 0rem;

}


div.Tracklist div.List{
   
    height: 200px; 
    display: flex;
    flex-direction: column;
    margin-bottom: 0rem;

}



div.Tracklist div.List a div{
    display: flex;
    justify-content: space-between;   
    padding: 1rem;
    border-bottom: 2px solid grey; 

}

div.Tracklist div.List a:hover {
    text-decoration: none;

}

div.Tracklist div.List a div:hover{
    text-decoration: none;
    border-bottom: 2px solid black;

}




